/vendor
/.phpintel
/.phpintel/
/.phpintel/index
composer.phar
Vagrantfile
Homestead.yaml
.env
.env.php
.uy.env
.ar.env
.vagrant
.vagrant/
.vscode/
.idea/
.DS_Store
.phpintel/
.vagrant/machines
Thumbs.db
public/storage/
/.vagrant/
/public/build/
/node_modules/
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/
/storage/database/
/public/storage/
/public/uploads/
public/storage/
*.sublime-project
*.sublime-workspace
*.mrk
.vagrant/machines/wayniloans-web/virtualbox/action_set_name
after.sh
*.pem
.phpintel
npm-debug.log
package-lock.json
.ar.env
.uy.env
.vscode
/.vscode/settings.json
/.vscode/*
/.idea
/.sonarlint